@use "../foundation/global" as *;

@use "global" as *;
@use "parts" as *;
@use "btn" as *;
@use "card" as *;
@use "image" as *;
@use "switch" as *;
@use "tab" as *;

* {
  accent-color: var(--fc-primary);
}

/* ------------------------------
 *
 * label
 * ラベル
 *
 ------------------------------ */
.f-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.04em;
  display: flex;
  margin: 0 0 8px;
  @include max(md) {
    font-size: 13px;
    margin: 0 0 4px;
  }
  .f-item--sm & {
    @extend .f-label;
    font-size: 13px;
    margin: 0 0 3px;
  }
}

/* ------------------------------
 *
 * note / invalid / message
 * ノート / 無効アラート / メッセージ
 *
 ------------------------------ */
:where(.f-note, .f-invalid) {
  color: var(--fc-note);
  font-size: 12px;
  line-height: 1.5;
  display: block;
  margin: 0.5em 0;
}
.f-invalid {
  color: var(--fc-invalid);
}

// メッセージ（説明文）
.f-message {
  color: var(--fc-txt-weak);
  font-size: calc(var(--fs-font) * 0.96);
  margin: 1em 0 1.75em;
}

/* ------------------------------
 *
 * form item
 * ラベルとフォームパーツの1まとまり
 *
 ------------------------------ */
.f-item {
  position: relative;
  margin: 0 0 1.5rem;
  @include max(md) {
    margin: 0 0 1rem;
  }
  &--sm {
    @extend .f-item;
    margin: 0 0 1rem;
  }
  /* ------------------------------
  *
  * ラベルとパーツを横並び
  *
  ------------------------------ */
  &:where(&--row, &--center) {
    @extend .f-item;
  }
  &--row {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(100px, max-content) 1fr;
    gap: 2px 8px;
    margin: 0 0 8px;
    @include max(sm) {
      grid-template-columns: 1fr;
      margin: 0 0 1rem;
    }
  }
}

/* ------------------------------
 *
 * required / optional
 * 必須・任意
 *
 ------------------------------ */
:where(.required, .optional) {
  &::after {
    content: "必須";
    color: var(--fc-invalid);
    font-size: 11px;
    line-height: 20px;
    display: inline-block;
    background-color: var(--fc-invalid-bg);
    padding: 0 4px;
    margin: 0 0 0 0.5rem;
  }
}
.optional {
  &::after {
    content: "任意";
    color: #666;
    background-color: #f7f8f8;
  }
}
