@use "../../foundation/global" as *;

.p-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  &__txt {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include min(lg) {
      gap: 1.5rem;
    }
    // ハンバーガー
    &__burger {
      width: 28px;
      height: 28px;
      display: block;
      background-color: var(--bg-light);
      border-radius: 4px;
      @include fi-center($fi-burger);
      background-size: 16px 16px;
      cursor: pointer;
      @include min(lg) {
        display: none;
      }
    }
    // 戻るボタン
    &__btn {
      display: block;
      width: 28px;
      height: 28px;
      background-color: var(--bg-light);
      border-radius: 4px;
      @include fi-center($fi-chevron-left);
      background-size: 20px 20px;
      &:hover {
        background-color: var(--bg);
      }
    }
    &__ttl {
      font-size: 16px;
      line-height: 28px;
      font-weight: 600;
      @include min(lg) {
        font-size: 20px;
      }
    }
  }
  // アクションエリア
  &__act {
    margin: 0 0 0 auto;
  }
  // アカウント
  &__account {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &__user {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      span {
        display: grid;
        place-items: center;
        width: 28px;
        height: 28px;
        background-color: var(--primary);
        border-radius: 50%;
        svg {
          display: block;
          width: 20px;
          height: 20px;
          fill: #fff;
        }
      }
    }
    &__name {
      font-size: 13px;
      line-height: 18px;
      display: none;
      @include min(lg) {
        display: block;
      }
    }
  }
}
