.p-sidebar {
  margin: 1.5rem 0 0;
  :where(.c-tab) {
    background-color: transparent;
  }
  .c-tab {
    margin: 0 0 4px;
    width: 100%;
    justify-content: flex-start;
  }
  &__ttl {
    font-size: 12px;
    font-weight: 600;
    margin: 2rem 0 0.5rem;
  }
}
