@use "../../foundation/responsive" as *;

.p-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  border-bottom: 1px solid var(--border);
  margin: 0 -24px 16px;
  padding: 0 24px 6px;
  @include min(md) {
    margin: 0 0 16px;
    padding: 0 0 6px;
  }
  :where(.c-tab) {
    background-color: transparent;
  }
  .c-tab {
    &.is-active {
      &::before {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--primary);
        position: absolute;
        inset: auto auto 0 0;
        z-index: 1;
        transform: translate(0, 8px);
      }
    }
  }
}
