/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
/docker/db/mysql/volumes
/docker/web/nginx/volumes
.sass-cache
public/.sass-cache
goopit-app-develop-firebase-adminsdk-oboti-9d4f4f751e.json
