.u-align {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  :where(&--nowrap, &--vl, &--both, &--full, &--hlc, &--vlc) {
    @extend .u-align;
  }
  &--nowrap {
    flex-wrap: nowrap;
  }
  &--hlc {
    flex-direction: row;
    align-items: center;
  }
  // 水平方向
  &--vl {
    flex-direction: column;
    align-items: flex-start;
  }
  &--vlc {
    flex-direction: column;
    align-items: center;
  }
  //上下左右中央
  &--both {
    align-items: center;
    justify-content: center;
  }
  // 
  &--btw {
    justify-content: space-between;
    align-items: center;
  }
  &--end {
    align-items: flex-end;
  }
}
