.p-auth {
  width: 100%;
  background-image: url(../img/admin/background/auth.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
