@use "../../global" as global;
@use "../../global/_components.scss";

/* ! ==================================================
　Edit 編集ページ
================================================== */
.p-edit {
  width: 100%;
  display: flex;

  /* ! --------------------------------------------------
  　Head ヘッド
  -------------------------------------------------- */
  &__head {
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 0 0 2.5rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    position: relative;
    border-bottom: 1px solid var(--color_border_1);

    /* ! ----------
    　Inner インナー
    ---------- */
    &__inner {
      display: flex;
      align-items: center;
    }

    /* ! ----------
    　Action アクション
    ---------- */
    &__action {
      margin: 0 0 0 auto;
    }
  }

  /* ! --------------------------------------------------
  　Sidebar サイドバー
  -------------------------------------------------- */
  &__sidebar {
    border: 1px solid var(--color_border_1);
    height: 100%;
    // position: sticky;
    // top: 4.5rem;

    /* ! ----------
    　Box ボックス
    ---------- */
    &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      & + & {
        border-top: 1px solid var(--color_border_1);
      }

      /* ! ----------
      　Head ヘッド
      ---------- */
      &__head {
        flex:  0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1.5rem;

        // タイトル
        &__title {
          @extend .c-text__sm !optional;
          font-weight: 700;
        }
      }

      /* ! ----------
      　Body ボディ
      ---------- */
      &__body {
        flex: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.5rem 1.5rem;
        .p-detail__sidebar__box__head + & {
          padding-top: 0;
        }
      }
    }
  }

  /* ! --------------------------------------------------
  　Main メイン
  -------------------------------------------------- */
  &__main {
    background: #fff;
    border: 1px solid var(--color_border_1);
    position: sticky;

    /* ! ----------
    　Box ボックス
    ---------- */
    &__box {
      display: grid;
      grid:
        "head" auto
        "wrapper" 1fr
        "table" auto
        "foot" auto
        / 100%;

      /* ! ----------
      　Head ヘッド
      ---------- */
      &__head {
        grid-area: head;
        margin: 0 0 1.5rem;
        // タイトル
        &__title {
          @extend .c-text__md !optional;
          font-weight: 500;
        }
      }

      & + & {
        border-top: 1px solid var(--color_border_1);
      }

      /* ! ----------
      　Wrapper ラッパー
      ---------- */
      &__wrapper {
        grid-area: wrapper;
        padding: 2rem 2.5rem;
      }

      /* ! ----------
      　Body ボディ
      ---------- */
      &__body {
        padding: 2rem 2.5rem;
        .p-detail__main__box__head + & {
          padding-top: 0;
        }
      }

      /* ! ----------
      　Foot フット
      ---------- */
      &__foot {
        grid-area: foot;
        text-align: right;
        padding: 1rem;
        border-top: 1px solid var(--color_border_1);
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(2px);
        position: sticky;
        bottom: 0;
      }

      /* ! ----------
      　Table テーブル
      ---------- */
      &__table {
        grid-area: table;
        .p-detail__main__box__head + & {
          padding-top: 0;
        }
      }
    }
  }

  /* ! --------------------------------------------------
  　Foot フット
  -------------------------------------------------- */
  &__foot {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color_border_1);
    padding: 1.5rem 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    position: relative;
  }
}