main {
    display: flex;
}

div.aside {
    width: 15%;
    border: 5px solid darkorange;
    border-radius: 10px;
}

div.aside li {
    margin: 10px 0;
    text-align: center;
}

div.content {
    width: 85%;
}

div.content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}


