@use "../global" as global;
@use "../global/_components.scss";

/* ! ----------
　サイズ定義
---------- */
:root {
  --width_sidebar: 12.5rem;
  @include global.responsive(xl) {
    --width_sidebar: 15rem;
  }
}

/* ! ==================================================
　Frames 全体フレーム
================================================== */
.l-frame {
  position: relative;
  overflow: hidden;
  flex: auto;
  min-width: 0;
  display: grid;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* PC */
  @include global.responsive(md) {
    display: flex;
  }
  &__background{
    position: absolute;
    overflow: hidden;
    top: 350px;
    width: 640px;
    border-radius: 50% 50% 0 0;
    background: #F7F4EC;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    @include global.responsive(sm) {
      height: 100%;
      width: 110%;
      min-width: 830px;
    }
  }
  //マイページ
  &--mypage{
    @include global.responsive(md) {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: visible;
    }
    .l-frame{
      &__head{
        @include global.responsive(md) {
          display: none;
        }
        .p-header{
          display: flex;
          justify-content: center;
          &__logo{
            margin: 0;
          }
          &__btn{
            top: 50%;
            transform: translate(0, -50%);
            right: 24px;
          }
        }
      }
      &__main{
        max-width: 100%;
        overflow: hidden;
      }
      &__body{
        @include global.responsive(md) {
          flex: auto;
          min-height: 1px;
          display: flex;
        }
      }
    }
  }
  /* ! ----------
  　編集ページの場合
  ---------- */
  &.edit {
    grid:
      "main" 1fr
      / 100%;
  }

  /* ! --------------------------------------------------
  　Sidebar サイドバーフレーム
  -------------------------------------------------- */
  &__sidebar {
    display: none;
    flex: 0 0 auto;
    width: 200px;
    /* PC */
    @include global.responsive(md) {
      display: flex;
    }
  }

  /* ! --------------------------------------------------
  　Main メインフレーム
  -------------------------------------------------- */
  &__main {
    // display: flex;
    // 最大幅　1024px - サイドバー幅
    // min-width: calc(64rem - var(--width_sidebar));
    justify-content: center;
  }
  &__head{
    flex: 0 0 auto;
    @include global.responsive(md) {
      // margin-top: 24px;
    }
    &__mypage{
      @include global.responsive(md) {
        display: none;
      }
    }
  }
  &__main,
  &__body{
    flex: auto;
    min-height: 1px;
    display: flex;
    flex-direction: column;
  }
  &__body{
  }
  &__foot{
    flex: 0 0 auto;
    &--mypage{
      @include global.responsive(md) {
        display: none;
      }
    }
  }
}

.body_mypage--home{
  @include global.responsive(md) {
    background: #F7F4EC;
  }
}
