@use "../global" as global;
@use "../global/_components.scss";

/* ! ----------
　サイズ定義
---------- */
:root {
  --width_sidebar: 12.5rem;
  @include global.responsive(xl) {
    --width_sidebar: 15rem;
  }
}

/* ! ==================================================
　Frames 全体フレーム
================================================== */
.l-frame {
  flex: auto;
  min-width: 0;
  display: grid;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* PC */
  @include global.responsive(md) {
    display: flex;
  }
  
  /* ! ----------
  　編集ページの場合
  ---------- */
  &.edit {
    grid:
      "main" 1fr
      / 100%;
  }

  /* ! --------------------------------------------------
  　Sidebar サイドバーフレーム
  -------------------------------------------------- */
  &__sidebar {
    display: flex;
    /* PC */
    @media screen and (max-width: 768px){
      display: none;
    }
  }

  /* ! --------------------------------------------------
  　Main メインフレーム
  -------------------------------------------------- */
  &__main {
    // display: flex;
    // 最大幅　1024px - サイドバー幅
    // min-width: calc(64rem - var(--width_sidebar));
  }
  &__head{
    flex: 0 0 auto;
    &__mypage{
      @include global.responsive(md) {
        display: none;
      }
    }
  }
  &__main,
  &__body{
    flex: auto;
    min-height: 1px;
    display: flex;
    flex-direction: column;
  }
  &__body{
  }
  &__foot{
    flex: 0 0 auto;
    &--mypage{
      @include global.responsive(md) {
        display: none;
      }
    }
  }
}
