.c-image {
  width: 100%;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    -o-object-fit: cover;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}
