@use "../form/var" as *;
@use "../form/icon" as *;
@use "../form/func" as *;

/* ------------------------------
 *
 * button / submit
 * ボタン・送信
 *
 ------------------------------ */
.f-btn {
  @include f-base();
  border: none;
  color: #fff;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: calc(var(--fs-input) + 2px);
  background-color: var(--fc-primary);
  border-color: transparent;
  width: auto;
  vertical-align: bottom;
  -webkit-appearance: none;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: var(--fc-primary-dark);
    border-color: var(--fc-primary-dark);
  }
  :is(&[disabled], &:disabled) {
    background-color: var(--fc-text);
    border-color: var(--fc-text);
    opacity: 0.24;
    pointer-events: none;
    cursor: default;
    cursor: not-allowed;
  }
  // アイコン
  :where(svg, img) {
    width: calc(var(--fs-txt) - 2px);
    height: auto;
    aspect-ratio: 1 / 1;
    fill: #fff;
  }
  // スタイル
  :where(&--lg, &--sm, &--light, &--goast, &--invalid) {
    @extend .f-btn;
  }
  &--lg {
    @include f-base(lg);
    color: #fff;
    background-color: var(--fc-primary);
    border-color: var(--fc-primary);
    &:hover {
      background-color: var(--fc-primary-dark);
      border-color: var(--fc-primary-dark);
    }
  }
  &--sm {
    @include f-base(sm);
    color: #fff;
    background-color: var(--fc-primary);
    border-color: var(--fc-primary);
    padding-inline: 5px;
    &:hover {
      background-color: var(--fc-primary-dark);
      border-color: var(--fc-primary-dark);
    }
  }
  &--light {
    @extend .f-btn;
    color: var(--fc-primary);
    background-color: var(--fc-bg-light);
    border-color: var(--fc-bg-light);
    &:hover {
      background-color: var(--fc-bg);
    }
    :where(svg, img) {
      fill: var(--primary);
    }
  }
  &--goast {
    @extend .f-btn;
    color: var(--fc-primary);
    border: 1px solid var(--fc-primary);
    background-color: transparent;
    &:hover {
      background-color: var(--fc-bg-light);
    }
    :where(svg, img) {
      fill: var(--fc-primary);
    }
  }
  &--invalid {
    background-color: var(--invalid);
    &:hover {
      background-color: var(--invalid-dark);
      border-color: var(--invalid-dark);
    }
  }
}

%icon {
  content: "";
  display: inline-block;
  width: var(--fs-txt);
  height: auto;
  aspect-ratio: 1 / 1;
  vertical-align: bottom;
}
.f-btn--icon,
.f-btn--icon-left {
  @include f-base();
  color: var(--fc-text);
  border-color: var(--fc-border);
  background-color: #fff;
  width: auto;
  cursor: pointer;
  &::before {
    @extend %icon;
    margin-left: calc(-1 * var(--fs-padding-inline-half));
    @include fi($fi-chevron-left);
  }
  // 右側にアイコンを表示
  &-right {
    @include f-base();
    @extend .f-btn--icon;
    &::before {
      content: none;
    }
    &::after {
      @extend %icon;
      margin-right: calc(-1 * var(--fs-padding-inline-half));
      @include fi($fi-chevron-right);
    }
  }
  // アイコンの種類
  &.icon-trush {
    &::before {
      @include fi($fi-trush);
    }
    &::after {
      @include fi($fi-trush);
    }
  }
}
