@use "../../global/" as global;

.c-txt {

  &--lg {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1em;
    width: 160px;
    word-wrap: break-word;
    &--rd{
      color: #c30e2e;
    }
  }
  &--md {
  //   font: global.font(400, 16px, 1.3);
    font-size: 16px;
    letter-spacing: 0.04em;
    &--gr{
      color: #8c8c8c;
    }

  }
  &--sm {
    // font: global.font(400, 14px, 1.3);
    font-size: 12px;
    letter-spacing: 0.04em;
    &--ghost{
      color: rgb(255, 255, 255, 0.7);

    }
  }
  // &__xs {
  //   font: global.font(400, 13px, 1.3);
  //   letter-spacing: 0.04em;
  // }
  // &__xxs {
    font: global.font(500, 12px, 1.3);
  //   letter-spacing: 0.04em;
  // }


  &--step{
    text-align: center;
    color: #8e91a0;
  }

  &--support{
    font-size: 11px;
    color: #8e91a0;
  }
  &--copyright{
    font-size: 10px;
    color: #ccc;
  }
  &--num{
    color: #fff;
  }
  &--err{
    font-size: 12px;
    color: #c30e2e;
  }
  &--must{
    color: #c30e2e;
  }
  &--center{
    text-align: center;
    &--md{
      text-align: left;
      @include global.responsive(md) {
        text-align: center;
      }
    }
  }
  &--gr{
    color: #8c8c8c;
  }
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
}