@use "../global" as global;
@use "../global/_components.scss";

/* ! ==================================================
　Micromodal マイクロモーダル
================================================== */
/* ! ----------
　開くボタン
---------- */
[data-micromodal-trigger] {
  cursor: pointer;
}

.modal {
  position: relative;
  z-index: 10;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  flex-direction: column;
}

.modal__container {
  background-color: #fff;
  padding: 32px 0;
  max-width: 340px;
  max-height: 100vh;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
  min-height: 1px;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &--min{
    max-width: 340px;
  }
  &--thin{
    padding: 24px 0;
    .modal__header{
      padding: 0 24px;
      display: flex;
      align-items: center;
    }
    .modal__content{
      &__head{
        padding: 0 24px;
      }
      &__body{
        padding: 0 24px;
      }
      &__foot{
        padding: 0 24px;
        .p-btnWrap{
          .c-btn{
            height: 48px;
          }
        }
      }
    }
  }
}
.modal__box {
  flex: auto;
  min-height: 1px;
  display: flex;
  flex-direction: column;
}

/* ! ----------
　Header ヘッダー
---------- */
.modal__header {
  margin: 0 0 1.5rem;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--column{
    flex-direction: column;
  }
}

.modal__title {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
.modal__description{
  margin: 1rem 0 0;
  font-size: 13px;
  b{
    color: #C30E2E;
  }
}

/* ! ----------
　閉じる
---------- */
.modal__close {
  position: absolute;
  right: 0; top: -12px;
  width: 20px; height: 20px;
  background: url(../img/web/icon/close--white.png)no-repeat center;
  background-size: contain;
  padding: 0;
  transform: translate(0, -100%);
  z-index: 1;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

// .modal__header .modal__close:before {
//   content: "\2715";
// }

/* ! ----------
　Content 内容
---------- */
.modal__content {
  flex: auto;
  display: flex;
  flex-direction: column;
  &__head{
    flex: 0 0 auto;
    padding: 0 32px;
  }
  &__body{
    flex: auto;
    min-height: 1px;
    overflow: auto;
    padding: 0 32px;
    .p-formList{
      &__item{
        + .p-formList__item{
          margin-top: 16px;
        }
      }
      &__content{
        flex-direction: column;
      }
      &__label{
        padding: 0;
        width: auto;
        .c-txt{
          font-size: 12px;
        }
      }
    }
  }
  &__foot{
    margin: 1.5rem 0 0;
    flex: 0 0 auto;
    padding: 0 32px;
    .p-btnWrap{
      .c-btn{
        font-size: 14px;
        height: 56px;
      }
    }
  }
}

/* ! ----------
　Footer フッター
---------- */
.modal__footer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 3rem 0 0;
}

/* ! ----------
　Button ボタン
---------- */
.modal {
  &__btn {
    @extend .c-button__2 !optional;
    &-primary {
      @extend .c-button !optional;
    }
    &-alert {
      @extend .c-button__alert !optional;
    }
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}
#modal-login {
  @include global.responsive(md) {
    display: none;
  }
}

.micromodal-slide.is-open {
  display: block;
}

// .micromodal-slide[aria-hidden="false"] .modal__overlay {
//   animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="false"] .modal__container {
//   animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="true"] .modal__overlay {
//   animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="true"] .modal__container {
//   animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
