@use "../global" as global;
@use "../global/_components.scss";

/* ! ==================================================
　Micromodal マイクロモーダル
================================================== */
/* ! ----------
　開くボタン
---------- */
[data-micromodal-trigger] {
  cursor: pointer;
}

.modal {
  position: relative;
  z-index: 10;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 32px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  &--min{
    max-width: 340px;
  }
}
.modal__box {

}

/* ! ----------
　Header ヘッダー
---------- */
.modal__header {
  margin: 0 0 1.5rem;
}

.modal__title {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
.modal__description{
  margin: 1rem 0 0;
  font-size: 13px;
  b{
    color: #C30E2E;
  }
}

/* ! ----------
　閉じる
---------- */
.modal__close {
  position: absolute;
  right: 0; top: -12px;
  width: 20px; height: 20px;
  background: url(../img/web/icon/modal_close.png)no-repeat center;
  background-size: contain;
  padding: 0;
  transform: translate(0, -100%);
  z-index: 1;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.modal__header .modal__close:before {
  content: "\2715";
}

/* ! ----------
　Content 内容
---------- */
.modal__content {
  &__body{

  }
  &__foot{
    margin: 1.5rem 0 0;
    .p-btnWrap{
      .c-btn{
        font-size: 14px;
        height: 56px;
      }
    }
  }
}

/* ! ----------
　Footer フッター
---------- */
.modal__footer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 3rem 0 0;
}

/* ! ----------
　Button ボタン
---------- */
.modal {
  &__btn {
    @extend .c-button__2 !optional;
    &-primary {
      @extend .c-button !optional;
    }
    &-alert {
      @extend .c-button__alert !optional;
    }
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

// .micromodal-slide[aria-hidden="false"] .modal__overlay {
//   animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="false"] .modal__container {
//   animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="true"] .modal__overlay {
//   animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

// .micromodal-slide[aria-hidden="true"] .modal__container {
//   animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
// }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
