@use "../foundation/responsive" as *;

.l-footer {
  width: 100%;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  &__nav {
    margin: 0 0 32px;
    &__item {
      display: inline-flex;
      align-items: center;
      font-size: 13px;
      padding: 0 1em;
      gap: 0.5em;
      @include min(sm) {
        padding: 0 1.5em;
      }
      &:hover {
        color: var(--primary);
        svg {
          fill: var(--primary);
        }
      }
      & + & {
        border-left: 1px solid var(--border);
      }
      svg {
        height: 1em;
        aspect-ratio: 1;
      }
    }
  }
  &__copyright {
    color: var(--txt-light);
    font-size: 11px;
  }
}
