@use "../foundation/global" as *;

.l-main {
  flex: 1 1 auto;
  overflow: hidden;
  &--nohidden {
    @extend .l-main;
    display: flex;
    overflow: auto;
  }
  &--initial {
    @extend .l-main;
    overflow: initial;
  }
  // サイドバーが開かれている時
  &.is-hide {
    pointer-events: none;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.72);
      position: absolute;
      inset: 0 auto auto 0;
      z-index: 998;
    }
  }
  // ヘッド
  &__head {
    flex: none;
    border-bottom: 1px solid var(--border-light);
    padding: 1rem;
    position: relative;
    z-index: 2;
    @include min(lg) {
      padding: 1rem 1rem 1rem 1.5rem;
    }
    [class*="c-ttl"] [class*="c-btn"] {
      margin-left: 1em;
    }
  }
  // ボディ
  &__body {
    flex: auto;
    padding: 16px;
    @include min(sm) {
      padding: 24px;
    }
  }
}
