@use "../foundation/responsive" as *;

.l-sidebar {
  flex: 0 0 200px;
  width: 200px;
  background-color: var(--bg-primary-light);
  background-color: #fff;
  border-right: 1px solid var(--border-light);
  transition: transform 0.1s ease;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  &.is-active {
    height: 100vh;
    opacity: 1;
    pointer-events: all;
    z-index: 999;
    animation: showSidebar 0.2s linear forwards;
  }
  @include min(lg) {
    position: relative;
    opacity: 1;
    pointer-events: all;
    animation: none;
  }
  &__inner {
    padding: 1rem;
    position: sticky;
    top: 0;
    @include min(lg) {
      padding: 1.5rem 1rem;
    }
  }
}

// @keyframes showSidebar {
//   0% {
//     pointer-events: all;
//     transform: translateX(-100%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }
// @keyframes hideSidebar {
//   0% {
//     pointer-events: all;
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }
