@use "../../foundation/responsive" as *;

.c-box {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 16px;
  margin: 0 0 12px;
  background-color: #fff;
  @include min(xl) {
    padding: 24px;
  }
  :where(&--xl, &--lg, &--sm, &--xs, &--xxs, &--fill) {
    @extend .c-box;
  }
  // サイズ
  &--xl {
    @extend .c-box;
    padding: 24px;
    @include min(xl) {
      padding: 40px;
    }
  }
  &--lg {
    padding: 20px;
    @include min(xl) {
      padding: 32px;
    }
  }
  &--sm {
    padding: 12px;
    @include min(xl) {
      padding: 16px;
    }
  }
  &--xs {
    padding: 8px;
    @include min(xl) {
      padding: 12px;
    }
  }
  &--xxs {
    padding: 4px;
  }
  // スタイル
  &--fill {
    background-color: var(--primary-bg-light);
    border-color: var(--primary-bg-light);
  }
}
