@use "../../foundation/global" as *;

.c-btn {
  color: #fff;
  font: font(500, 14px, 1);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0.5em;
  background-color: var(--primary);
  border-radius: 4px;
  border: 1px solid transparent;
  vertical-align: middle;
  transition-property: box-shadow, color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-dark);
  }
  :where(&--sm, &--lg, &--light, &--goast, &--invalid, &--ico, &--full) {
    @extend .c-btn;
  }
  // サイズ
  &--sm {
    font-size: 13px;
    padding: 0.4em;
  }
  &--lg {
    font-size: 16px;
    padding: 0.8em;
  }
  &--full {
    width: 100%;
  }
  // 画像
  :where(svg, img) {
    fill: #fff;
    width: 1em;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  // スタイル
  &--light {
    color: var(--primary);
    background-color: var(--bg-light);
    &:hover {
      background-color: var(--bg);
    }
    :where(svg, img) {
      fill: var(--primary);
    }
  }
  &--goast {
    color: var(--primary);
    border-color: var(--primary);
    background-color: transparent;
    &:hover {
      background-color: var(--bg);
    }
    :where(svg, img) {
      fill: var(--primary);
    }
  }
  &--invalid {
    background-color: var(--invalid);
    &:hover {
      background-color: var(--invalid-dark);
    }
  }
}
