@use "../../foundation/responsive" as *;
.c-dl {
  display: grid;
  grid-template-columns: minmax(80px, auto) 1fr;
  align-items: center;
  @include min(sm) {
    grid-template-columns: minmax(100px, auto) 1fr;
  }
  &--sm {
    @extend .c-dl;
    grid-template-columns: minmax(80px, auto) 1fr;
  }
  // 左右に分ける
  &--between {
    @extend .c-dl;
    dd {
      text-align: right;
      min-width: max-content;
    }
  }
}
