.c-link {
  color: var(--primary);
  font-weight: 500;
  display: inline-flex;
  gap: 8px;
  line-height: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
  border-radius: 2px;
  transition-property: box-shadow, color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  cursor: pointer;
  position: relative;
  &:hover {
    color: var(--primary-dark);
    background-color: var(--primary-bg);
    box-shadow: 0 0 0 4px var(--primary-bg);
  }
  &--sm {
    @extend .c-link;
    font-size: 13px;
    font-weight: 400;
  }
  // 画像
  :where(svg, img) {
    fill: var(--primary);
    width: 1em;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
