.c-modal {
  &[open] {
    width: auto;
    margin: auto;
    display: grid;
    place-items: center;
    background-color: transparent;
    border: none;
    &::backdrop {
      background-color: rgba(0 0 0 / 0.6);
    }
  }
}
