@use "../../foundation/global" as *;

.c-sort {
  display: inline-flex;
  min-width: max-content;
  gap: 4px;
  cursor: pointer;
  &:hover {
    color: var(--fc-primary);
  }
  &::after {
    content: "";
    display: block;
    height: 1em;
    width: 0.5em;
    background-repeat: no-repeat;
    background-size: 10px 12px;
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="12" height="16" viewBox="x,y"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.10558 9.55279C2.27497 9.214 2.62123 9 3.00001 9H9.00001C9.37878 9 9.72504 9.214 9.89443 9.55279C10.0638 9.89157 10.0273 10.297 9.80001 10.6L6.80001 14.6C6.61115 14.8518 6.31476 15 6.00001 15C5.68525 15 5.38886 14.8518 5.20001 14.6L2.20001 10.6C1.97274 10.297 1.93619 9.89157 2.10558 9.55279Z" fill="#{$fc-border-light}"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.89442 6.44721C9.72503 6.786 9.37877 7 8.99999 7L2.99999 7C2.62122 7 2.27496 6.786 2.10557 6.44721C1.93617 6.10843 1.97273 5.70302 2.19999 5.4L5.19999 1.4C5.38885 1.14819 5.68524 1 5.99999 1C6.31475 1 6.61114 1.14819 6.79999 1.4L9.79999 5.4C10.0273 5.70302 10.0638 6.10843 9.89442 6.44721Z" fill="#{$fc-border-light}"/></svg>');
  }
  &.is-asc::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="12" height="16" viewBox="x,y"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.10558 9.55279C2.27497 9.214 2.62123 9 3.00001 9H9.00001C9.37878 9 9.72504 9.214 9.89443 9.55279C10.0638 9.89157 10.0273 10.297 9.80001 10.6L6.80001 14.6C6.61115 14.8518 6.31476 15 6.00001 15C5.68525 15 5.38886 14.8518 5.20001 14.6L2.20001 10.6C1.97274 10.297 1.93619 9.89157 2.10558 9.55279Z" fill="#{$fc-border-light}"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.89442 6.44721C9.72503 6.786 9.37877 7 8.99999 7L2.99999 7C2.62122 7 2.27496 6.786 2.10557 6.44721C1.93617 6.10843 1.97273 5.70302 2.19999 5.4L5.19999 1.4C5.38885 1.14819 5.68524 1 5.99999 1C6.31475 1 6.61114 1.14819 6.79999 1.4L9.79999 5.4C10.0273 5.70302 10.0638 6.10843 9.89442 6.44721Z" fill="#{$fc-accent}"/></svg>');
  }
  &.is-desc::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="12" height="16" viewBox="x,y"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.10558 9.55279C2.27497 9.214 2.62123 9 3.00001 9H9.00001C9.37878 9 9.72504 9.214 9.89443 9.55279C10.0638 9.89157 10.0273 10.297 9.80001 10.6L6.80001 14.6C6.61115 14.8518 6.31476 15 6.00001 15C5.68525 15 5.38886 14.8518 5.20001 14.6L2.20001 10.6C1.97274 10.297 1.93619 9.89157 2.10558 9.55279Z" fill="#{$fc-accent}"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.89442 6.44721C9.72503 6.786 9.37877 7 8.99999 7L2.99999 7C2.62122 7 2.27496 6.786 2.10557 6.44721C1.93617 6.10843 1.97273 5.70302 2.19999 5.4L5.19999 1.4C5.38885 1.14819 5.68524 1 5.99999 1C6.31475 1 6.61114 1.14819 6.79999 1.4L9.79999 5.4C10.0273 5.70302 10.0638 6.10843 9.89442 6.44721Z" fill="#{$fc-border-light}"/></svg>');
  }
}
