.c-tab {
  color: var(--txt-weak);
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--bg-light);
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: var(--bg);
  }
  &.is-active {
    color: var(--primary);
    background-color: var(--primary-bg);
    user-select: none;
    position: relative;
  }
  &:has(svg) {
    padding-left: 8px;
    &.is-active svg {
      fill: var(--primary);
    }
  }
  :where(img, svg) {
    display: block;
    width: 1em;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
