.p-btnWrap {
  // margin-top: 40px;
  display: flex;
  margin: -4px;
  > *{
    margin: 4px;
  }
  &--single{
    // width: 200px;
    // margin-top: 40px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

