.visual{
    background-color: #9f9f9f;
    margin-bottom: 60px;
}
.p-card {
    &--all{
        margin-top: 16px;   
    }
    margin-top: 16px;
    p:not(.c-txt--sm--ghost){
        color: #fff;
    }
    &__item{
        background: #c30e2e;
        border-radius: 10px;
        padding: 24px;
        display: flex;
        justify-content: space-between;
    }
    &__info{}
    &__mainData{}
    &__brand{}
    &__product{}
    &__color{
        margin-top: 4px;
        ::before{
            content: "";
            display: inline-block;
            background: #fff;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 4px;
            box-shadow: 0 0 1px rgba(0, 0, 0, 7);
        }
    }
    &__subData{
        margin-top: 24px;
    }
    &__purchase{}
    &__serialNum{}
    &__img{
        width: 120px;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
}
