.visual{
    background-color: #9f9f9f;
    margin-bottom: 60px;
}
.p-card {
    max-width: 1366px;
    margin-top: 16px;
    p:not(.c-txt--sm--ghost){
        color: #fff;
    }
    &--list{
        margin-top: 16px;   
        p:not(.c-txt--sm--ghost){
            color: #fff;
        }
    }    
    &__item{
        width: 340px;
        height: 210px;
        margin: 0 36px;
        background: #c30e2e;
        border-radius: 10px;
        padding: 24px;
        &__item + &{
            margin-left: 16px;
        }
        &--list{
            padding: 16px;
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__info{}
    &__mainData{}
    &__brand{}
    &__product{}
    &__color{
        margin-top: 4px;
        ::before{
            content: "";
            display: inline-block;
            background: #fff;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 4px;
            box-shadow: 0 0 1px rgba(0, 0, 0, 7);
        }
    }
    &__subData{
        margin-top: 24px;
        &--list{
            margin-top: 16px;

        }
    }
    &__purchase{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__serialNum{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__store{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img{
        // width: 120px;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
    &__other{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // 1080px以上のデザイン
    /* PC */
    @media screen and (max-width: 1080px){
        
    }
}