@use "../../global" as global;
@use "../../global/_components.scss";

/* ! ==================================================
　Form フォーム
================================================== */
.p-form {
  width: 100%;
  //注意書き
  small {
    color: var(--color_form_ps);
    @extend .c-text__xxs !optional;
  }
  //ページレイアウト
  &Page{
    >.l-container{
      max-width: 500px;
      margin: 0 auto;
      @include global.responsive(md) {
        max-width: none;
        margin: 0;
      }
    }
    flex: auto;
    min-height: 1px;
    @include global.responsive(md) {
      background: #F7F4EC;
      display: flex;
      flex-direction: column;
    }
    &__head{
      background: #F7F4EC;
      margin: 0 0 40px;
      @include global.responsive(md) {
        margin: 24px 0 0;
        background: none;
      }
      &__ttl{
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 32px;
        @include global.responsive(md) {
          height: auto;
          padding-bottom: 32px;
          // height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .c-ttl{
          @include global.responsive(md) {
            font-size: 24px;
          }
          // @include global.responsive(sm) {
          //   font-size: 32px;
          // }
        }
      }
    }
    &__step{
      // max-width: 560px;
      max-width: 280px;
      margin: 0 auto;
      @include global.responsive(md) {
        margin: 0 auto;
        padding: 0;
      }
    }
    &__body{
      @include global.responsive(md) {
        padding: 56px;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,.08);
        max-width: 800px;
        margin: 40px auto 0;
      }
      .skip{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
        ::after{
          content: "";
          background: url(../img/web/icon/skip-triangle.png) no-repeat center;
          background-size: contain !important;
          width: 12px;
          height: 11px;
        }
      }
      &--thin{
        @include global.responsive(md) {
          max-width: 620px;
          border-radius: 16px;
          padding: 48px;
        }
      }
    }
    &__btn{
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    //完了画面
    &__complete{
      margin: 120px auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img{
        position: absolute;
        &--airbuggy{
          width: 30px;
          bottom: 25px;
          right: 67px;
          @include global.responsive(md) {
            width: 45px;
            bottom: 42px;
            right: 117px;
          }
        }
        &--britax{
          width: 25px;
          bottom: 25px;
          right: 102px;
          @include global.responsive(md) {
            width: 39px;
            bottom: 42px;
            right: 177px;
          }
        }
        &--dogcart{
          width: 27px;
          bottom: 25px;
          right: 6px;
          @include global.responsive(md) {
            width: 42px;
            bottom: 42px;
            right: 10px;
          }
        }
        &--maxicosi{
          width: 20px;
          bottom: 23px;
          right: 41px;
          @include global.responsive(md) {
            width: 35px;
            bottom: 39px;
            right: 69px;
          }
        }
        &--veer{
          width: 45px;
          bottom: 25px;
          right: 135px;
          @include global.responsive(md) {
            width: 70px;
            bottom: 44px;
            right: 234px;
          }
        }
      }
      &__ttl{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        &--pc{
          display: none;
          @include global.responsive(md) {
            display: block;
          }
        }
        &--sp{
          @include global.responsive(md) {
            display: none;
          }
        }

      }
      &__txt{
        .c-ttl{
          font-size: 14px;
          margin: 16px;
        }
        .c-description{
          margin: 24px 0 0;
        }
        .p-btnWrap{
          margin: 0;
          margin-top: 44px;
        }
      }
    }
    &__foot{
      margin: 40px 0 0;
      &--terms{
        margin: 32px 0 0;
        padding: 32px 0 0;
        border-top: solid 1px #EAEBEA;
        @include global.responsive(md) {
          border: none;
        }
        .c-input{
          display: flex;
          justify-content: center;
        }
        .p-btnWrap{
          margin-top: 16px;
        }
        .err-txt{
          margin-top: 12px;
          padding-left: 12px;
        }
      }
      &--wide{
        margin: 56px 0 0;
      }
      &--delete{
        margin: 32px 0 0;
        padding: 32px 0 0;
        border-top: solid 1px #EAEBEA;
        @include global.responsive(md) {
          border: none;
          margin: 40px 0 0;
        }
        .c-input{
          display: flex;
          justify-content: center;
        }
        .p-btnWrap{
          margin-top: 16px;
        }
        .err-txt{
          margin-top: 12px;
          padding-left: 12px;
        }
      }
    }
    //確認画面
    &--confirm{

    }
    //完了画面
    &--complete{
      background: #F7F4EC;
    }
  }

  //リスト
  &List {
    // display: grid;
    // grid-auto-rows: auto;
    // gap: 1rem;
    // &__item {
    // }
    &__item{
      &--productLine{
        position: relative;
        margin: 1rem 0 0;
        padding:  1rem 0 0;
        &:before{
          content: '';
          width: 50%; height: 1px;
          background: #EAEBEA;
          position: absolute;
          top: 0; left: 0;
        }
      }
    }
    &__ttl{
      margin: 0 0 32px;
    }
    &__content {
      display: grid;
      grid-auto-rows: auto;
      gap: 0.5rem;
      @include global.responsive(md) {
        display: flex;
        flex: auto;
        min-width: 1px;
      }
      .split{
        div + div {
          margin-top: 32px;
        }
        @include global.responsive(md) {
          width: 100%
          
        }
      }
    }
    &__label{
      // color: var(--color_text_button);
      @extend .c-text__xs !optional;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--modal{
        // flex-direction: row;
        justify-content: space-between;
      }
      
      /* ! ----------
      　Optional 任意
      ---------- */
      @at-root .optional {
        &::after {
          color: var(--color_form_ps);
          font: global.font(700, 10px, 1);
          content: "任意入力";
          display: inline-flex;
          height: 1rem;
          align-items: center;
          padding: 0.15em 0.4em 0;
          background-color: var(--color_background_3);
          margin: 0 0 0 0.5em;
          border-radius: 3px;
          transform: translateY(-1px);
        }
      }
      @include global.responsive(md) {
        flex: 0 0 auto;
        width: 230px;
        align-items: center;
        justify-content: space-between;
      }
      &--mail{
        @include global.responsive(md) {
          width: 180px;
        }
      }
      &--pass{
        @include global.responsive(md) {
          width: 300px;
          
        }
      }
      &--guide{
        @include global.responsive(md) {
          flex-direction: column;
          align-items: baseline;
        }
      }
      .c-txt{
        br{
          display: none;
          @include global.responsive(md) {
            display: block;
          }
        }
      }
      &--password{
        @include global.responsive(md) {
          width: 160px
        }
      }
      // &--thin{
        //   @include global.responsive(md) {
          //     padding: 8px 0 0;
          //   }
          // }
        }
        &__data{
          min-width: 1px;
          .c-txt{
            // margin-top: 16px;  
            @include global.responsive(md) {
              margin-top: 0;
              width: 300px;
            }
          }
          // label{
            //   width: 165px;
            // }
            @extend .c-text__sm !optional;
            
            /* ! ----------
            Error エラー
            ---------- */
            .error {
              @extend .c-text__xxs !optional;
              color: var(--color_alert);
              background-color: var(--color_alert_background);
              padding: 0.5em 1em;
              border-radius: 2px;
              margin: 2px 0 0;
            }
            @include global.responsive(md) {
              flex: auto;
              min-width: 1px;
            }
          }
          &__data--ac{
            .c-txt{
              margin-top: 16px;  
              @include global.responsive(md) {
                margin-top: 0;
                width: 300px;
              }
            }
            label{
              width: 165px;
            }
            @extend .c-text__sm !optional;
            
            /* ! ----------
            Error エラー
            ---------- */
            .error {
              @extend .c-text__xxs !optional;
              color: var(--color_alert);
              background-color: var(--color_alert_background);
              padding: 0.5em 1em;
              border-radius: 2px;
              margin: 2px 0 0;
            }
            @include global.responsive(md) {
              flex: auto;
              min-width: 1px;
              width: 352px;
            }
          }
          //確認画面
          &--confirm{
            .p-formList{
              &__item{
                
              }
              &__ttl{
                display: block;
                .c-txt{
                  margin: 1rem 0 0;
                }
              }
              &__content{
                .l-stack{
                  &__item{
                    display: flex;
                    + .l-stack__item{
                      margin: .75rem 0 0;
                    }
                  }
                }
              }
              
              &__label{
                flex: 0 0 auto;
                width: 140px;
                padding: 0;
                @include global.responsive(sm) {
                  width: 160px;
                }
                .c-txt{
                  color: #8C8C8C;
                  letter-spacing: 0;
                }
              }
              &__data{
                flex: auto;
                min-width: 1px;
                .c-txt{
                  letter-spacing: 0;
                }
              }
            }
          }
        }
      }
      
      //確認画面
      .body_confirm{
        .p-formPage{
          &__foot{
            margin: 2rem 0 0;
            padding: 2rem 0 0;
            border-top: solid 1px #EAEBEA;
            @include global.responsive(md) {
        padding: 0;
        border: none;
      }
    }
  }
}