.p-info {
    border: solid #eaebea;
    margin-top: 12px;
    padding: 12px 0;
    border-width: 1px 0 0 0;
    + .p-info{
        margin-top: 0;
    }
    &__bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__txt{
        margin-top: 4px;
        div + div{
            margin-top: 4px;
        }
    }
}
