@use "../../global" as global;
@use "../../global/_components.scss";

.p-info {
    border: solid #eaebea;
    margin-top: 12px;
    padding: 12px 0;
    border-width: 1px 0 0 0;
    /* PC */
    @include global.responsive(md) {
        padding: 40px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    + .p-info{
        margin-top: 0;
        @include global.responsive(md) {
            margin: 24px 0 0;
        }
        @include global.responsive(xl) {
            margin: 32px 0 0;
        }
    }
    &__bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__ttl{

    }
    &__btn{
        .c-btn{
            @include global.responsive(md) {
                height: 32px;
                min-width: 88px;
            }
        }
    }
    &__txt{
        margin-top: 4px;
        @include global.responsive(md) {
            margin-top: 32px;
        }
        .c-txt{
            font-size: 13px;
            @include global.responsive(md) {
                display: flex;
            }
            &:before{
                content: attr(data-ttl);
                flex: 0 0 auto;
                width: 120px;
                display: none;
                @include global.responsive(md) {
                    display: block;
                }
            }
            + .c-txt{
                margin-top: 4px;
                @include global.responsive(md) {
                    margin-top: 16px;
                }
            }
            span{
                @include global.responsive(md) {
                    display: none;
                }
            }
        }
    }
    
}
