@use "../../global/" as global;

.p-step {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding-top: 24px;
  &__item{
    position: relative;
    justify-content: center;
    text-align: center;
    width: 33.33%;
    color: #8c8c8c;
    display: flex;
    counter-increment: steps;
    ::before{
      content: counter(steps);
      content: "";
      background: #c30e2e;
      display: block;
      width: 20px;
      height: 20px;
      margin: 15px auto 8px auto;
      text-align: center;
      border-radius: 50%;
      background-color: #E4D6D6;
      @include global.responsive(md) {
        margin: 15px auto 12px auto;
      }
    }
    .c-txt{
      br{
        @include global.responsive(md) {
          display: none;
        }
      }
    }
    + .p-step__item::after{
      content: "";
      z-index: 1;
      position: absolute;
      top: 24px;
      left: -50%;
      width: calc(100% - 30px);
      height: 2px;
      background: #E4D6D6;
      transform: translate(16px, 0px);
    }
    &--current{
      position: relative;
      // ::after{
      //   content: "";
      //     border: 1px solid #c30e2e;
      //     border-radius: 50px;
      //     position: relative;
      //     width: 16px;
      //     height: 16px;
      // }
      p{
        color: #c30e2e;
        // .circle{
        //   border: 1px solid #c30e2e;
        //   border-radius: 50px;
        //   position: relative;
        //   width: 16px;
        //   height: 16px;
        //   ::before{
        //     content: "";
        //     position: absolute;
        //     background: #c30e2e;
        //     color: #fff;
        //   }
        // }
      }
      ::before{
        content: "";
        // position: absolute;
        background: none;
        color: #fff;
        background-image: url(../img/web/icon/c-point.png);
        background-size: 20px 20px;
        // background-position: right center;
        background-repeat: no-repeat;
      }
      + .p-step__item::after{
        background: #E4D6D6;
      }
    }
    &--complete{
      p{
        color: #c30e2e;
      }
      ::before{
        content: '';
        background: #c30e2e;
        
      }
      + .p-step__item::after{
        background: #c30e2e;
      }
    }
  }
}