@use "../../global" as global;
@use "../../global/_components.scss";

/* ! ==================================================
　Sidebar サイドバー
================================================== */
.p-sidebar {
  width: 100%;
  background: #F5F2E7; 
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: solid 1px #EAEBEA;
  display: flex;
  .l-container{
    display: flex;
    flex-direction: column;
  }
  /* ! --------------------------------------------------
  　Head ヘッド
  -------------------------------------------------- */
  &__head {
    height: 86px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    .is-hide & {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    /* ! ----------
    　Logo ロゴ
    ---------- */
    &__logo {
      display: block;
      img{
        width: 52px;
        height: auto;
      }
      // イメージ
      .normal {
        width: global.rem(120px);
        height: global.rem(32px);
        @include global.responsive(xl) {
          width: global.rem(144px);
          height: global.rem(38px);
        }
      }
      .icon {
        display: none;
        width: 1.5rem;
        height: 1.5rem;
      }

      // 隠し時
      .is-hide & {
        .normal {
          display: none;
        }
        .icon {
          display: block;
        }
      }
    }

    /* ! ----------
    　Hide 隠すボタン
    ---------- */
    &__hide {
      display: grid;
      place-items: center;
      width: 2rem;
      height: 2rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      margin: 0 -1rem 0 0;
      cursor: pointer;
      &:hover {
        background-color: var(--color_background_3);
        border-color: var(--color_border_1);
      }

      // 隠し時
      .is-hide & {
        margin: 0;
      }
    }
  }

  /* ! --------------------------------------------------
  　Body ボディ
  -------------------------------------------------- */
  &__body {
    // grid-area: body;
    // overflow: auto;
    border: 1px solid #E8E5DD;
    border-width: 1px 0 0 0;
    padding: 32px 0 0;
  }

  /* ! --------------------------------------------------
  　Foot フット
  -------------------------------------------------- */
  &__foot {
    margin: auto 0 0;
    padding: 32px 0;
    border-top: 1px solid #E8E5DD;
  }
  &__logout{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8E5DD;
    border-width: 1px 0 0 0;
    padding: 32px 0 40px;
    &:hover{
      color: darken(#B0ADA5,20%);
    }
    input[type="submit"]{
      font-size: 14px;
      color: #B0ADA5;
      font-weight: 500;
      background: none;
      cursor: pointer;
    }
  }
}
